# Predicting House Prices

We have Iowa house prices data which we will use and predict house prices accordingly using machine learning models. Lets import the data and the required dependencies to work with the data.

In [22]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import Imputer

# Read the training and testing data and store data in DataFrame
Iowa_train = pd.read_csv('Input\Data\Iowa_House_Prices\train.csv')
Iowa_test = pd.read_csv('Input\Data\Iowa_House_Prices\test.csv')

Lets look at the data and get descriptive statistics about the data aswell.

In [2]:
Iowa_train.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>MSSubClass</th>
      <th>LotFrontage</th>
      <th>LotArea</th>
      <th>OverallQual</th>
      <th>OverallCond</th>
      <th>YearBuilt</th>
      <th>YearRemodAdd</th>
      <th>MasVnrArea</th>
      <th>BsmtFinSF1</th>
      <th>...</th>
      <th>WoodDeckSF</th>
      <th>OpenPorchSF</th>
      <th>EnclosedPorch</th>
      <th>3SsnPorch</th>
      <th>ScreenPorch</th>
      <th>PoolArea</th>
      <th>MiscVal</th>
      <th>MoSold</th>
      <th>YrSold</th>
      <th>SalePrice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1201.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1452.000000</td>
      <td>1460.000000</td>
      <td>...</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
      <td>1460.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>730.500000</td>
      <td>56.897260</td>
      <td>70.049958</td>
      <td>10516.828082</td>
      <td>6.099315</td>
      <td>5.575342</td>
      <td>1971.267808</td>
      <td>1984.865753</td>
      <td>103.685262</td>
      <td>443.639726</td>
      <td>...</td>
      <td>94.244521</td>
      <td>46.660274</td>
      <td>21.954110</td>
      <td>3.409589</td>
      <td>15.060959</td>
      <td>2.758904</td>
      <td>43.489041</td>
      <td>6.321918</td>
      <td>2007.815753</td>
      <td>180921.195890</td>
    </tr>
    <tr>
      <th>std</th>
      <td>421.610009</td>
      <td>42.300571</td>
      <td>24.284752</td>
      <td>9981.264932</td>
      <td>1.382997</td>
      <td>1.112799</td>
      <td>30.202904</td>
      <td>20.645407</td>
      <td>181.066207</td>
      <td>456.098091</td>
      <td>...</td>
      <td>125.338794</td>
      <td>66.256028</td>
      <td>61.119149</td>
      <td>29.317331</td>
      <td>55.757415</td>
      <td>40.177307</td>
      <td>496.123024</td>
      <td>2.703626</td>
      <td>1.328095</td>
      <td>79442.502883</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000</td>
      <td>20.000000</td>
      <td>21.000000</td>
      <td>1300.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>1872.000000</td>
      <td>1950.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>1.000000</td>
      <td>2006.000000</td>
      <td>34900.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>365.750000</td>
      <td>20.000000</td>
      <td>59.000000</td>
      <td>7553.500000</td>
      <td>5.000000</td>
      <td>5.000000</td>
      <td>1954.000000</td>
      <td>1967.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>5.000000</td>
      <td>2007.000000</td>
      <td>129975.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>730.500000</td>
      <td>50.000000</td>
      <td>69.000000</td>
      <td>9478.500000</td>
      <td>6.000000</td>
      <td>5.000000</td>
      <td>1973.000000</td>
      <td>1994.000000</td>
      <td>0.000000</td>
      <td>383.500000</td>
      <td>...</td>
      <td>0.000000</td>
      <td>25.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>6.000000</td>
      <td>2008.000000</td>
      <td>163000.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>1095.250000</td>
      <td>70.000000</td>
      <td>80.000000</td>
      <td>11601.500000</td>
      <td>7.000000</td>
      <td>6.000000</td>
      <td>2000.000000</td>
      <td>2004.000000</td>
      <td>166.000000</td>
      <td>712.250000</td>
      <td>...</td>
      <td>168.000000</td>
      <td>68.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>8.000000</td>
      <td>2009.000000</td>
      <td>214000.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>1460.000000</td>
      <td>190.000000</td>
      <td>313.000000</td>
      <td>215245.000000</td>
      <td>10.000000</td>
      <td>9.000000</td>
      <td>2010.000000</td>
      <td>2010.000000</td>
      <td>1600.000000</td>
      <td>5644.000000</td>
      <td>...</td>
      <td>857.000000</td>
      <td>547.000000</td>
      <td>552.000000</td>
      <td>508.000000</td>
      <td>480.000000</td>
      <td>738.000000</td>
      <td>15500.000000</td>
      <td>12.000000</td>
      <td>2010.000000</td>
      <td>755000.000000</td>
    </tr>
  </tbody>
</table>
<p>8 rows Ã— 38 columns</p>
</div>

Check the columns names for easy calling and assigning etc.

In [3]:
Iowa_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

Since we are predicting the price lets assign a variable for the pridiction column `SalePrice`. This column is usually called **Prediction Target**.

In [4]:
# Target Variable
y = Iowa_train.SalePrice
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

Lets create some predictors based on our intuition and assing them to the predictor variable namely `X`.

In [5]:
# Our chosen Predictors
Iowa_Predictors = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

# Predictor Variable
X = Iowa_train[Iowa_Predictors]
X.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>LotArea</th>
      <th>YearBuilt</th>
      <th>1stFlrSF</th>
      <th>2ndFlrSF</th>
      <th>FullBath</th>
      <th>BedroomAbvGr</th>
      <th>TotRmsAbvGrd</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8450</td>
      <td>2003</td>
      <td>856</td>
      <td>854</td>
      <td>2</td>
      <td>3</td>
      <td>8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9600</td>
      <td>1976</td>
      <td>1262</td>
      <td>0</td>
      <td>2</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11250</td>
      <td>2001</td>
      <td>920</td>
      <td>866</td>
      <td>2</td>
      <td>3</td>
      <td>6</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9550</td>
      <td>1915</td>
      <td>961</td>
      <td>756</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>14260</td>
      <td>2000</td>
      <td>1145</td>
      <td>1053</td>
      <td>2</td>
      <td>4</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

Model the data using the `DecisionTreeRegressor` we have chosen with the X and y.

In [6]:
# Define the model
Iowa_DT_model = DecisionTreeRegressor()

# Fit the model to our data
Iowa_DT_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

Lets test the prices of the houses present in the Test data to see how our model fares so far in its default state.

In [7]:
# First 5 rows of the test data to sample our prediction power
print('The first 5 rows of our test data are: \n', Iowa_test[Iowa_Predictors])
print('The predictions of the selected data are: \n', Iowa_DT_model.predict(Iowa_test[Iowa_Predictors]))

The first 5 rows of our test data are:
       LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0       11622       1961       896         0         1             2
1       14267       1958      1329         0         1             3
2       13830       1997       928       701         2             3
3        9978       1998       926       678         2             3
4        5005       1992      1280         0         2             2
5       10000       1993       763       892         2             3
6        7980       1992      1187         0         2             3
7        8402       1998       789       676         2             3
8       10176       1990      1341         0         1             2
9        8400       1970       882         0         1             2
10       5858       1999      1337         0         2             2
11       1680       1971       483       504         1             2
12       1680       1971       525       567         1             3
13       2280       1975       855       601         2             3
14       2280       1975       836         0         1             2
15      12858       2009      1627       707         2             3
16      12883       2009      1544         0         2             3
17      11520       2005      1698         0         2             3
18      14122       2005      1822         0         2             3
19      14300       2003      2696         0         2             3
20      13650       2002      1687       563         2             3
21       7132       2006      1370         0         2             2
22      18494       2005      1324         0         2             3
23       3203       2006      1145         0         2             2
24      13300       2004       744       630         2             3
25       8577       2004       847       886         2             3
26      17433       1998      1645       830         2             4
27       8987       2005      1595         0         2             2
28       9215       2009      1218         0         2             2
29      10440       2005      1468         0         2             2
...       ...        ...       ...       ...       ...           ...
1429     7030       1925       641         0         1             2
1430     9060       1957       967       671         2             4
1431    12366       1945       729         0         1             2
1432     9000       1951      1060       336         2             4
1433     8520       1916       576       360         1             2
1434     5748       2005      1778         0         2             2
1435     3842       2004      1646         0         2             2
1436    23580       1979      1625         0         2             3
1437     8385       1978      1664         0         2             4
1438     9116       2001      1491         0         2             3
1439    11080       1975      1210         0         2             3
1440    50102       1958      1650         0         1             2
1441     8098       2000      1403         0         2             2
1442    13618       2005      1960         0         2             3
1443    11577       2005      1838         0         2             3
1444    31250       1951      1600         0         1             3
1445     7020       1997      1368         0         2             2
1446     2665       1977       616       688         1             3
1447    10172       1968       874         0         1             3
1448    11836       1970      1652         0         2             4
1449     1470       1970       630         0         1             1
1450     1484       1972       546       546         1             3
1451    13384       1969      1360         0         1             3
1452     1533       1970       546       546         1             3
1453     1526       1970       546       546         1             3
1454     1936       1970       546       546         1             3
1455     1894       1970       546       546         1             3
1456    20000       1960      1224         0         1             4
1457    10441       1992       970         0         1             3
1458     9627       1993       996      1004         2             3

      TotRmsAbvGrd
0                5
1                6
2                6
3                7
4                5
5                7
6                6
7                7
8                5
9                4
10               5
11               5
12               6
13               6
14               4
15              10
16               7
17               7
18               8
19              10
20               7
21               6
22               6
23               6
24               7
25               7
26               7
27               6
28               4
29               6
...            ...
1429             4
1430             6
1431             5
1432             8
1433             6
1434             5
1435             5
1436             6
1437            10
1438             7
1439             6
1440             6
1441             5
1442             8
1443             9
1444             6
1445             8
1446             5
1447             5
1448             8
1449             3
1450             5
1451             8
1452             5
1453             5
1454             5
1455             6
1456             7
1457             6
1458             9

[1459 rows x 7 columns]
The predictions of the selected data are:
 [ 94750. 137500. 173000. ... 160000.  93500. 220000.]

Lets do the same prediction with using `train_test_split()` to divide our data.

In [10]:
train_X, val_X, train_Y, val_Y = train_test_split(X, y, random_state=200)

# Fit the data
Iowa_DT_model.fit(train_X, train_Y)

# Get predictions on the validation data
val_predictions = Iowa_DT_model.predict(val_X)
print(mean_absolute_error(val_Y, val_predictions))

33196.890410958906

## Controlling Underfit and Overfit in a model

Given the number of max_leaf_nodes we can control the model to not underfit or overfit the data and find the right amount of splits to get predicter value closer to the estimate using MAE and looping.

In [11]:
def get_mae(max_leaf_nodes, predictors_train, predictors_val, targ_train, targ_val):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(predictors_train, targ_train)
    preds_val = model.predict(predictors_val)
    mae = mean_absolute_error(targ_val, preds_val)
    return mae

In [12]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_Y, val_Y)
    print('Max Leaf Nodes: %d \t\t MAE: %d' % (max_leaf_nodes, my_mae))

Max Leaf Nodes: 5 		 MAE: 39206
Max Leaf Nodes: 50 		 MAE: 29954
Max Leaf Nodes: 500 		 MAE: 30853
Max Leaf Nodes: 5000 		 MAE: 30936

## Random Forests
Lets see if random forests give better predictions.

In [14]:
forest_model = RandomForestRegressor()
forest_model.fit(train_X, train_Y)
pred = forest_model.predict(val_X)
print(mean_absolute_error(val_Y, pred))

26487.975159817353

It did give better `MAE` than decision trees as expected. There are better models to give much better prediction with less overhead like some gradient boosting algorithms which are prone to overfitting but with right parameters can be easily taken care of.

## XGBoost
This is a very popular and successful model used on standard tabular data. This is an type of `Gradient Boosted Decision Tree` algorithm where it calculates errors for each observation in the data -> Build Model to predict those -> add these predictions to ensemble of models and repeat this cycle.

Lets perform this on the whole dataset not excluding any features for now.

In [31]:
data = Iowa_train.dropna(axis=0, subset=['SalePrice'])
y = data.SalePrice
X = data.drop(['SalePrice'], axis=1).select_dtypes(exclude=['object'])
train_X, test_X, train_Y, test_Y = train_test_split(X, y, test_size=0.25)

my_imputer = Imputer()
train_X = my_imputer.fit_transform(train_X)
test_X = my_imputer.transform(test_X)

In [32]:
from xgboost import XGBRegressor

model_xgb = XGBRegressor()
model_xgb.fit(train_X, train_Y, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [33]:
# Predictions
preds = model_xgb.predict(test_X)
print("Mean Absolute Error of XGB model is: " + str(mean_absolute_error(preds, test_Y)))

Mean Absolute Error of XGB model is: 17348.051305650686

We got a very good MAE score so far compared to even random forests, we can improve this further by tuning the model more as some parameters if tuned well could dramatically improve the peformance.

## Model Tuning
### n_estimators, early_stopping_rounds and learning_rate
n_estimators specifies how many times to go through the modeling cycle described above. Number of boosted trees to fit. Typical values range from 100-1000 depends on learning rate aswell. too big overfits, too small underfits need to find the right number.

early_stopping_rounds offers a way to automatically find the ideal value. Early stopping causes the model to stop iterating when the validation score stops improving, even if we aren't at the hard stop for n_estimators. It's smart to set a high value for n_estimators and then use early_stopping_rounds to find the optimal time to stop iterating. Usually 5 rounds is a safe bet.

learning_rate We can multiple the predictions from each model by a small number before adding rather than just adding, doing this reduces the models nature to overfit.

n_jobs larger datasets need more time so this parameter helps with prarallel processing. Usually set this to number of cores in the system.

In conclusion we can set high n_estimators if we have low early_stopping and a small learning rate will yield more accurate XGBoost models but it could take longer time since it does iterations throgh the cycle.

In [34]:
model_xgb_tuned = XGBRegressor(n_estimators=1000, learning_rate=0.05, n_jobs=2)
model_xgb_tuned.fit(train_X, train_Y, early_stopping_rounds=5, eval_set=[(test_X, test_Y)], verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.05, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=1000,
       n_jobs=2, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [35]:
# Predictions
preds = model_xgb_tuned.predict(test_X)
print("Mean Absolute Error of XGB model is: " + str(mean_absolute_error(preds, test_Y)))

Mean Absolute Error of XGB model is: 17245.806752996574